
#form
{ margin-top:8%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:30%;
  height:100%;
  background-color:white;
  border:3px solid #e3e3e3;
  border-radius:5px;
  
}
#form input
{
	height:45px;
	width:90%;
	border:1px solid #b3b3b3;
	border-radius:3px;
	margin-top:15px;
	
}
#form input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

#form select
{
	height:45px;
	width:90%;
	border:1px solid #b3b3b3;
	
	margin-top:15px;
	
}
#form li
{
	

    font-family: 'Tajawal', sans-serif;
    color:#474747;
	margin-left:0%;
	margin-right:5%;
	list-style:none;
}
#form li:nth-child(7)
{
	margin-left:0%;
	margin-right:5%;
	list-style:none;
}




#blood-bank-container-wrapper
{
	display: grid;
	grid-template-rows:repeat(3,1fr);
}
#form-inner-container
{
	margin-bottom:250px;

}




#form_blood
{
  margin-top:8%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:45%;
  height:100%;
  background-color:white;
  border:2px solid #ededed;
  border-radius:3px;
  box-shadow:2px 2px 2px 2px #ededed;
}
#form_blood input
{
	height:45px;
	width:90%;
	border:1px solid #b3b3b3;
	border-radius:3px;
	margin-top:15px;
	
}
#form_blood input:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
#form_blood select
{
	height:45px;
	width:90%;
	border:1px solid #b3b3b3;
	
	margin-top:15px;
	
}
#form_blood li
{
	

    font-family: 'Tajawal', sans-serif;
    color:#474747;
	margin-left:0%;
	margin-right:5%;
	list-style:none;
}
#form_blood li:nth-child(7)
{
	margin-left:0%;
	margin-right:5%;
	list-style:none;
}
#form_blood li:nth-child(10) a
{
	text-decoration:none;
	
	
}
#form_blood li:nth-child(10):hover
{
	opacity:0.8;
	cursor:pointer;	
	
}


#containe-message-conformation 
{
	
	
	display:block;
    margin-left:auto;
    margin-right:auto;
	margin-top:85px;
	height:250px;
	width:35%;
	padding:3%;
	background-color:white;
	font-family: 'Tajawal', sans-serif;
	border-radius:3px;
}


