
#body-element-container
{
	display:grid;
	grid-template-rows:repeat(20,minmax(15px,auto));
	grid-row-gap:60px;
}

/*-----------------------Header-----------------------------------*/

#header
{
  list-style:none;
  background-color:white;
  padding:0;
  margin-bottom:0;
  height:85px;
  line-height:130px;
  margin-top:0;
}
#header> li
{
	display:inline;
	margin-left:5%;
	
}

#header li a
{
	font-family: Tajawal, sans-serif;
	color:dimgrey;
	text-decoration:none;
	
}
#header li a:hover
{
	color:#9ecaed;
}
/*--------------------------------SLIDER-SLIDESHOW---------------------------------------------*/


#sidebarmenu
{
	
	position:absolute;
	z-index:1000;
	left:0%;
	width:20%;
	
}
#sidebarmenu #vertical_menu_hidden 
{
	width:100%;
	background-color:white;
	
	
	
}
#sidebarmenu #vertical_menu_hidden li
{
	margin-top:3px;
	
}
#sidebarmenu #vertical_menu_hidden li:hover >a{
	color:rgb(226, 69, 12);
	background:none;
}
#sidebarmenu #vertical_menu_hidden li:nth-child(2)
{
	margin-top:8px;
}
#sidebarmenu #vertical_menu_hidden li  a{
	font-size:18px;
	font-family:tajawal;
	text-decoration:none;
	border:0;
	color:#474747;
}
#sidebarmenu #vertical_menu_hidden li ul
{
	width:100%;
}

.slideshow-container{
width:80%;
height:320px;
overflow: hidden;
position: relative;
border-bottom:2px solid #ccc9c9;
left:20%;

}
.slideshow-container .myslides img
{
	max-height:inherit;
	max-width:inherit;
}
.numbers{

position: absolute;

top: 0;

color: #f2f2f2;

padding: 8px 12px;

font-size: 12px;

}

.myslides{

display: none;

}

.prev , .next{

position: absolute;

top: 50%;

font-size: 18px;

font-weight: bold;

padding: 16px;

margin-top: -22px;

border-radius: 0 3px 3px 0;

color: #fff;

cursor: pointer;

}

.next{

right: 0;

border-radius: 3px 0 0 3px;

}

.prev:hover,.next:hover{

background-color: rgba(0,0,0,0.8);

}

.caption{

text-align: center;

position: absolute;

bottom: 8px;

width: 100%;

color: #f2f2f2;

font-size: 15px;

padding: 8px 22px;

}
#dots-container
{
	z-index: 1000;
}

.dots{

width: 13px;

height: 13px;

background: gray;

display: inline-block;

border-radius: 50%;

cursor: pointer;

}

.fade{

animation-name:fade;
animation-duration:1.5s;

}

@keyframes fade{

from {opacity: 0.4;}

to {opacity: 1;}

}


.active, .dot:hover {

background-color: #333;

}

/*--------------------------------slider-list---------------------------------------------------*/
.slider-product-list-wraper-container
{
	position:relative;
	width:100%;
	overflow:hidden;
}

.slider-product-list-wraper-container .slider-product-list-wraper
{
	width:300%;
	position:relative;
}
.slider-product-list-wraper-container .prev_product_list_btn
{
	
	cursor:pointer;
	position:absolute;
	top:45%;
	
	height:30px;
	width:10px;
	opacity:0.5;
	border:2px solid #b6b3b3;
	background-color:white;
	box-shadow:2px 2px 2px  #b8b4b4;
	padding:15px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;

}
.slider-product-list-wraper-container .prev_product_list_btn:hover
{
	animation:popupbtn;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}
.slider-product-list-wraper-container .next_product_list_btn
{
	
		cursor:pointer;
		position:absolute;
		top:45%;
		right:0;
		height:30px;
		width:10px;
		opacity:0.5;
		border:2px solid #b6b3b3;
		background-color:white;
		box-shadow:2px 2px 2px  #b8b4b4;
		padding:15px;
		border-top-left-radius: 8px;
		border-bottom-left-radius: 8px;
	
	
}
.slider-product-list-wraper-container .next_product_list_btn:hover
{
	animation:popupbtn;
	animation-fill-mode: forwards;
	animation-duration: 0.5s;
}

.slider-product-list
{
	display:grid;
	height:350px;
	grid-template-columns: repeat(15,1fr);
	grid-column-gap:10px;
	background-color:white;
	box-shadow: 2px 2px 2px 2px #ededed;
}
.slider-product-list .slider--product-list-seperate
{
	border-left:1px solid #ededed;
	border-right:1px solid #ededed;
	background-color:white;
}
.slider-product-list .slider--product-list-seperate
{
	font-family:roboto;
	display:grid;
	grid-template-rows:6fr 1fr 1fr 1fr;
	text-align:center;
	grid-auto-rows:minmax(5px,auto);
}
.slider-product-list .slider--product-list-seperate .img-product
{
	max-height:220px;
}
.slider-product-list .slider--product-list-seperate .img-product img
{
	width:80%;
	height:100%;
}

.slider-product-list .slider--product-list-seperate .add-to-cart input
{
	background-color:rgba(240, 50, 91);
	color:white;
	padding:8px;
	width:auto;
	border:0;
	border-radius:45px;
	cursor:pointer;
	text-align:center;
}
.slider-product-list .slider--product-list-seperate .add-to-cart input:hover
{
	opacity:0.8;
}


#top_brands_list
{
	height:450px;
	width:90%;
	background-color:white;
	margin:0 auto;

}
